## 10 min to pandas

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
dates=pd.date_range('20170823',periods=9)

In [8]:
dates

DatetimeIndex(['2017-08-23', '2017-08-24', '2017-08-25', '2017-08-26',
               '2017-08-27', '2017-08-28', '2017-08-29', '2017-08-30',
               '2017-08-31'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df=pd.DataFrame(np.random.randn(9,5),index=dates,columns=list('CVBNM'))

In [10]:
df

                   C         V         B         N         M
2017-08-23 -1.149824 -1.038819  1.020471  1.056058  1.265738
2017-08-24  1.538752 -0.052299  0.753609 -0.485656 -0.168861
2017-08-25 -0.559144 -1.208882 -0.529810  0.039744 -0.514193
2017-08-26 -0.688243  0.126149  0.666027  0.941132 -1.267556
2017-08-27 -1.114148 -0.164693 -0.261773 -0.493350  1.061026
2017-08-28 -0.685278  1.120901  1.183146 -1.313207  0.420683
2017-08-29 -1.124078  0.949116 -0.427601  1.326805 -0.340251
2017-08-30 -0.845967  1.921890 -0.382391 -1.590572  0.311105
2017-08-31 -0.396559 -0.182796  2.588274 -0.156569 -1.917939

In [11]:
df.index

DatetimeIndex(['2017-08-23', '2017-08-24', '2017-08-25', '2017-08-26',
               '2017-08-27', '2017-08-28', '2017-08-29', '2017-08-30',
               '2017-08-31'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.describe()

              C         V         B         N         M
count  9.000000  9.000000  9.000000  9.000000  9.000000
mean  -0.558277  0.163396  0.512217 -0.075068 -0.127806
std    0.830551  1.014294  1.028887  1.028984  1.033712
min   -1.149824 -1.208882 -0.529810 -1.590572 -1.917939
25%   -1.114148 -0.182796 -0.382391 -0.493350 -0.514193
50%   -0.688243 -0.052299  0.666027 -0.156569 -0.168861
75%   -0.559144  0.949116  1.020471  0.941132  0.420683
max    1.538752  1.921890  2.588274  1.326805  1.265738

In [13]:
df['N']

2017-08-23    1.056058
2017-08-24   -0.485656
2017-08-25    0.039744
2017-08-26    0.941132
2017-08-27   -0.493350
2017-08-28   -1.313207
2017-08-29    1.326805
2017-08-30   -1.590572
2017-08-31   -0.156569
Freq: D, Name: N, dtype: float64

In [14]:
df[0:3]

                   C         V         B         N         M
2017-08-23 -1.149824 -1.038819  1.020471  1.056058  1.265738
2017-08-24  1.538752 -0.052299  0.753609 -0.485656 -0.168861
2017-08-25 -0.559144 -1.208882 -0.529810  0.039744 -0.514193

In [15]:
df.loc[dates[0]]

C   -1.149824
V   -1.038819
B    1.020471
N    1.056058
M    1.265738
Name: 2017-08-23 00:00:00, dtype: float64

In [16]:
df.loc[:,['M','N']]

                   M         N
2017-08-23  1.265738  1.056058
2017-08-24 -0.168861 -0.485656
2017-08-25 -0.514193  0.039744
2017-08-26 -1.267556  0.941132
2017-08-27  1.061026 -0.493350
2017-08-28  0.420683 -1.313207
2017-08-29 -0.340251  1.326805
2017-08-30  0.311105 -1.590572
2017-08-31 -1.917939 -0.156569

In [17]:
df[df.B > 0]

                   C         V         B         N         M
2017-08-23 -1.149824 -1.038819  1.020471  1.056058  1.265738
2017-08-24  1.538752 -0.052299  0.753609 -0.485656 -0.168861
2017-08-26 -0.688243  0.126149  0.666027  0.941132 -1.267556
2017-08-28 -0.685278  1.120901  1.183146 -1.313207  0.420683
2017-08-31 -0.396559 -0.182796  2.588274 -0.156569 -1.917939

In [18]:
df[df>0]

                   C         V         B         N         M
2017-08-23       NaN       NaN  1.020471  1.056058  1.265738
2017-08-24  1.538752       NaN  0.753609       NaN       NaN
2017-08-25       NaN       NaN       NaN  0.039744       NaN
2017-08-26       NaN  0.126149  0.666027  0.941132       NaN
2017-08-27       NaN       NaN       NaN       NaN  1.061026
2017-08-28       NaN  1.120901  1.183146       NaN  0.420683
2017-08-29       NaN  0.949116       NaN  1.326805       NaN
2017-08-30       NaN  1.921890       NaN       NaN  0.311105
2017-08-31       NaN       NaN  2.588274       NaN       NaN

In [19]:
s1 = pd.Series([x for x in range(1,10)],index=pd.date_range('20170823',periods=9))

In [20]:
s1

2017-08-23    1
2017-08-24    2
2017-08-25    3
2017-08-26    4
2017-08-27    5
2017-08-28    6
2017-08-29    7
2017-08-30    8
2017-08-31    9
Freq: D, dtype: int64

In [21]:
df.at[dates[0],'B']

1.0204708939030043

In [22]:
df.at[dates[0],'B']=3.1415

In [23]:
df2 = df.copy()

In [24]:
df2[df2>0] = -df2

In [25]:
df2

                   C         V         B         N         M
2017-08-23 -1.149824 -1.038819 -3.141500 -1.056058 -1.265738
2017-08-24 -1.538752 -0.052299 -0.753609 -0.485656 -0.168861
2017-08-25 -0.559144 -1.208882 -0.529810 -0.039744 -0.514193
2017-08-26 -0.688243 -0.126149 -0.666027 -0.941132 -1.267556
2017-08-27 -1.114148 -0.164693 -0.261773 -0.493350 -1.061026
2017-08-28 -0.685278 -1.120901 -1.183146 -1.313207 -0.420683
2017-08-29 -1.124078 -0.949116 -0.427601 -1.326805 -0.340251
2017-08-30 -0.845967 -1.921890 -0.382391 -1.590572 -0.311105
2017-08-31 -0.396559 -0.182796 -2.588274 -0.156569 -1.917939

In [26]:
pd.isnull(df)

                C      V      B      N      M
2017-08-23  False  False  False  False  False
2017-08-24  False  False  False  False  False
2017-08-25  False  False  False  False  False
2017-08-26  False  False  False  False  False
2017-08-27  False  False  False  False  False
2017-08-28  False  False  False  False  False
2017-08-29  False  False  False  False  False
2017-08-30  False  False  False  False  False
2017-08-31  False  False  False  False  False

In [27]:
dg1=df.copy()

In [29]:
dg1.mean()

C   -0.558277
V    0.163396
B    0.747887
N   -0.075068
M   -0.127806
dtype: float64

In [30]:
dg1

                   C         V         B         N         M
2017-08-23 -1.149824 -1.038819  3.141500  1.056058  1.265738
2017-08-24  1.538752 -0.052299  0.753609 -0.485656 -0.168861
2017-08-25 -0.559144 -1.208882 -0.529810  0.039744 -0.514193
2017-08-26 -0.688243  0.126149  0.666027  0.941132 -1.267556
2017-08-27 -1.114148 -0.164693 -0.261773 -0.493350  1.061026
2017-08-28 -0.685278  1.120901  1.183146 -1.313207  0.420683
2017-08-29 -1.124078  0.949116 -0.427601  1.326805 -0.340251
2017-08-30 -0.845967  1.921890 -0.382391 -1.590572  0.311105
2017-08-31 -0.396559 -0.182796  2.588274 -0.156569 -1.917939