## 10 min to pandas

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
dates=pd.date_range('20170823',periods=9)

In [5]:
dates

DatetimeIndex(['2017-08-23', '2017-08-24', '2017-08-25', '2017-08-26',
               '2017-08-27', '2017-08-28', '2017-08-29', '2017-08-30',
               '2017-08-31'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df=pd.DataFrame(np.random.randn(9,5),index=dates,columns=list('CVBNM'))

In [9]:
df

                   C         V         B         N         M
2017-08-23  0.410321  0.392099  1.282811  0.403014 -0.031878
2017-08-24 -0.345040 -1.276856 -0.280544  1.869639 -0.143219
2017-08-25 -1.576963  1.396883  0.530870  0.537895  0.947949
2017-08-26 -0.095065  1.310569 -1.128064  0.711710  0.537928
2017-08-27 -1.889837 -0.163015 -0.198968  1.631299  0.936872
2017-08-28 -1.830169  0.394968  0.060381 -1.899959 -0.149716
2017-08-29 -1.368425 -0.759948 -0.029039  1.147142 -1.323560
2017-08-30  0.587025 -1.296344  0.065834 -1.117775  1.933244
2017-08-31  2.385174  1.126199 -0.497450 -0.440329  1.920097

In [10]:
df.index

DatetimeIndex(['2017-08-23', '2017-08-24', '2017-08-25', '2017-08-26',
               '2017-08-27', '2017-08-28', '2017-08-29', '2017-08-30',
               '2017-08-31'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.describe()

              C         V         B         N         M
count  9.000000  9.000000  9.000000  9.000000  9.000000
mean  -0.413664  0.124951 -0.021574  0.315848  0.514191
std    1.417323  1.061920  0.668051  1.254303  1.055114
min   -1.889837 -1.296344 -1.128064 -1.899959 -1.323560
25%   -1.576963 -0.759948 -0.280544 -0.440329 -0.143219
50%   -0.345040  0.392099 -0.029039  0.537895  0.537928
75%    0.410321  1.126199  0.065834  1.147142  0.947949
max    2.385174  1.396883  1.282811  1.869639  1.933244

In [12]:
df['N']

2017-08-23    0.403014
2017-08-24    1.869639
2017-08-25    0.537895
2017-08-26    0.711710
2017-08-27    1.631299
2017-08-28   -1.899959
2017-08-29    1.147142
2017-08-30   -1.117775
2017-08-31   -0.440329
Freq: D, Name: N, dtype: float64

In [13]:
df[0:3]

                   C         V         B         N         M
2017-08-23  0.410321  0.392099  1.282811  0.403014 -0.031878
2017-08-24 -0.345040 -1.276856 -0.280544  1.869639 -0.143219
2017-08-25 -1.576963  1.396883  0.530870  0.537895  0.947949

In [14]:
df.loc[dates[0]]

C    0.410321
V    0.392099
B    1.282811
N    0.403014
M   -0.031878
Name: 2017-08-23 00:00:00, dtype: float64

In [18]:
df.loc[:,['M','N']]

                   M         N
2017-08-23 -0.031878  0.403014
2017-08-24 -0.143219  1.869639
2017-08-25  0.947949  0.537895
2017-08-26  0.537928  0.711710
2017-08-27  0.936872  1.631299
2017-08-28 -0.149716 -1.899959
2017-08-29 -1.323560  1.147142
2017-08-30  1.933244 -1.117775
2017-08-31  1.920097 -0.440329

In [21]:
df[df.B > 0]

                   C         V         B         N         M
2017-08-23  0.410321  0.392099  1.282811  0.403014 -0.031878
2017-08-25 -1.576963  1.396883  0.530870  0.537895  0.947949
2017-08-28 -1.830169  0.394968  0.060381 -1.899959 -0.149716
2017-08-30  0.587025 -1.296344  0.065834 -1.117775  1.933244

In [22]:
df[df>0]

                   C         V         B         N         M
2017-08-23  0.410321  0.392099  1.282811  0.403014       NaN
2017-08-24       NaN       NaN       NaN  1.869639       NaN
2017-08-25       NaN  1.396883  0.530870  0.537895  0.947949
2017-08-26       NaN  1.310569       NaN  0.711710  0.537928
2017-08-27       NaN       NaN       NaN  1.631299  0.936872
2017-08-28       NaN  0.394968  0.060381       NaN       NaN
2017-08-29       NaN       NaN       NaN  1.147142       NaN
2017-08-30  0.587025       NaN  0.065834       NaN  1.933244
2017-08-31  2.385174  1.126199       NaN       NaN  1.920097

In [27]:
s1 = pd.Series([x for x in range(1,10)],index=pd.date_range('20170823',periods=9))

In [28]:
s1

2017-08-23    1
2017-08-24    2
2017-08-25    3
2017-08-26    4
2017-08-27    5
2017-08-28    6
2017-08-29    7
2017-08-30    8
2017-08-31    9
Freq: D, dtype: int64

In [31]:
df.at[dates[0],'B']

3.1415000000000002

In [32]:
df.at[dates[0],'B']=3.1415

In [33]:
df2 = df.copy()

In [36]:
df2[df2>0] = -df2

In [37]:
df2

                   C         V         B         N         M
2017-08-23 -0.410321 -0.392099 -3.141500 -0.403014 -0.031878
2017-08-24 -0.345040 -1.276856 -0.280544 -1.869639 -0.143219
2017-08-25 -1.576963 -1.396883 -0.530870 -0.537895 -0.947949
2017-08-26 -0.095065 -1.310569 -1.128064 -0.711710 -0.537928
2017-08-27 -1.889837 -0.163015 -0.198968 -1.631299 -0.936872
2017-08-28 -1.830169 -0.394968 -0.060381 -1.899959 -0.149716
2017-08-29 -1.368425 -0.759948 -0.029039 -1.147142 -1.323560
2017-08-30 -0.587025 -1.296344 -0.065834 -1.117775 -1.933244
2017-08-31 -2.385174 -1.126199 -0.497450 -0.440329 -1.920097

In [38]:
pd.isnull(df)

                C      V      B      N      M
2017-08-23  False  False  False  False  False
2017-08-24  False  False  False  False  False
2017-08-25  False  False  False  False  False
2017-08-26  False  False  False  False  False
2017-08-27  False  False  False  False  False
2017-08-28  False  False  False  False  False
2017-08-29  False  False  False  False  False
2017-08-30  False  False  False  False  False
2017-08-31  False  False  False  False  False